{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row"><h1>Add new event</h1></div>
    <form class="form-horizontal" method="POST" action="{{ path_for('events_add_post') }}">
        <fieldset>

            <!-- Form Name -->
            <legend>Add new event</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-2 control-label" for="desc">Description</label>
                <div class="col-md-4">
                    <input id="desc" name="desc" type="text" placeholder="" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="event_type">Event type</label>
                <div class="col-md-4">
                    <select id="event_type" name="event_type" class="form-control">
                        {% for type in types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Appended Input-->
            <div class="form-group">
                <label class="col-md-2 control-label" for="date">Date</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="datetime-local" id="date" name="date" class="form-control" placeholder="" required="">
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="max_users">Maksymalna liczba zawodników</label>
                <div class="col-md-4">
                    <input id="max_users" name="max_users" type="number" placeholder="" class="form-control input-md" required="">
                </div>
            </div>
                    <input id="lat" name="lat" type="hidden">
                    <input id="lng" name="lng" type="hidden">

            <!--submit -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="lng">Submit</label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </fieldset>

    </form>
<div id="map" style="float:left;height:300px; width: 600px;"></div> <script>
     function initMap() {
        var uluru = {lat: 51.0, lng: 17.0 };
     var   map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });
      var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          draggable: true,
          title:"drag to match event position"
        });
      

    google.maps.event.addListener(map,'dragend',function(e) {
      $("#lat").val(marker.getPosition().lat());
      $("#lng").val(marker.getPosition().lng());
    });
 }
    </script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI-diNGgBdd3J-VhPMZy8TrPqpWZFDADM&callback=initMap"></script>

</div>
{% endblock %}
