{% extends 'layout.html' %}
{% block body %}
<div class="container">
<h1>{{ event.description }}</h1>
<h4>Data:<h2>{{ event.date }}</h2></h4>
 {% if event.signed is empty %}
                <button class="btn btn-primary">Zapisz</button>
                {% else %}
                <button class="btn btn-primary">Wypisz</button>
                {% endif %}

                {% if event.follow is empty %}
                <button class="btn btn-primary">+++</button>
                {% else %}
                <button class="btn btn-primary">---</button>
                {% endif %}

 <div id="map" style="float:left;height:300px; width: 600px;"></div> <script>
     function initMap() {
        var uluru = {lat: {{ event.lat}}, lng: {{event.lng}} };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      } 
    </script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI-diNGgBdd3J-VhPMZy8TrPqpWZFDADM&callback=initMap"></script>
</div>
{% endblock %}
