{% include "index.html" %}
{% block body %}
<div class="container">
    <div class="row"><h1>Events list</h1></div>
    {% if events is not empty %}
    <table id="table_event_list" class="table table-bordered table-striped table-responsive">
        <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Event type
            </th>
            <th>
                Date
            </th>
            <th>
                Place
            </th>
            <th>
                Slots
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
        <tr>
            <td>
                <a href="details/ {{ event.id }}">{{ event.description }} </a>
            </td>
            <td>
                {{ event.name }}
            </td>
            <td>
                {{ event.event_date }}
            </td>
            <td>
                {{ event.lat }} // {{ event.lng }}
            </td>
            <td>
                {{ event.signed_users }} / {{ event.max_users }}
            </td>
            <td>
                {% if event.signed is empty %}
                <button>Zapisz</button>
                {% else %}
                <button>Wypisz</button>
                {% endif %}

                {% if event.follow is empty %}
                <button>+++</button>
                {% else %}
                <button>---</button>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $('#table_event_list').DataTable({
                "order": [[ 2, "desc" ]],
                "paging":   false
            });
        } );
    </script>
    {% else %}
    <p>No events found</p>

    {% endif %}
</div>
{% endblock %}
